<div class="container">
  <section class="info">
    <article>
      <div>
        <h1>{{vistas | number}} </h1>
        <hr>
        <span>Daily Views</span>
      </div>
      <i class="fa-solid fa-eye"></i>
    </article>

    <article>
      <div>
        <h1> {{sales}} </h1>
        <hr>
        <span>Sales</span>
      </div>
      <i class="fa-solid fa-cart-shopping"></i>
    </article>

    <article>
      <div>
        <h1> {{comments}} </h1>
        <hr>
        <span>Comments</span>
      </div>
      <i class="fa-solid fa-comments"></i>
    </article>

    <article>
      <div>
        <h1> {{earning | currency:'':'':'4.0-0'}}</h1>
        <hr>
        <span>Earning</span>
      </div>
      <i class="fa-solid fa-money-bill-1-wave"></i>
    </article>
  </section>

  <section class="charts">
    <canvas id="chartPolar" class="chartPolar"></canvas>
    <canvas id="chart" class="chart"></canvas>
    
  </section>

  <div class="main">
    <section>
      <div>
        <h1>Recent Orders</h1>
        <button>View All</button>
      </div>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Payment</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let dato of datos">
            <td>{{dato.name | titlecase}}</td>
            <td>{{dato.price | currency:'':'symbol':'.0-0'}}</td>
            <td>{{dato.payment | titlecase}}</td>
            <td> <button class="{{dato.status}}">{{dato.status | titlecase}}</button> </td>
          </tr>
        </tbody>
      </table>
    </section>

    <aside>
      <h1>Recent Customers</h1>

      <ul *ngFor="let customer of recentCustomers">
        <li>
          <img src="{{customer.url}}" alt="">
          <p>{{customer.name | titlecase}}<br><span>{{customer.city | titlecase}}</span></p>
        </li>
      </ul>
    </aside>
  </div>

</div>
