@import '../../../assets/scss/variables.scss';

div{
  width: 100%;
  height: 100%;

  .info{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-left: 15px;
    margin-right: 15px;

    article{
      display: flex;
      justify-content: space-between;
      align-items: center;
      //width: 240px;
      width: 24%;
      height: 90px;
      padding: 25px;
      box-shadow: 0 3px 20px rgb(233, 233, 233);
      border-radius: 10px;
      cursor: pointer;
      transition: .3s;

      &:hover{
        background-color: map-get($colors, primary);

        div{
          h1{
            color: map-get($colors , secondary );
          }

          span{
            color: map-get($colors, secondary);
          }
        }

        i{
          color: map-get($colors, secondary);
        }
      }

      div{
        display: flex;
        flex-direction: column;
        margin-top: -20px;
        h1{
          color: map-get($colors , primary );
          font-size: 30px;  // Angular no respeta el tamaño de h1 originalmente
          margin-bottom: 3px;
        }

        span{
          color: rgb(168, 168, 168);
          font-size: 14px;
        }
      }


      i{
        color: rgb(168, 168, 168);
        margin-top: -15px;
        font-size: 30px;
      }
    }
  }

  .charts{
    width: 99%;
    padding: 20px;
    display: flex;

    .chart{
      //background-color: blue;
      //width: 30%;
      width: 65% !important;
      height: 65% !important;
      border-radius: 10px;
      box-shadow: 0 3px 20px rgb(233, 233, 233);
      padding: 20px;
    }

    .chartPolar{
      //background-color: orange;
      //width: 30%;
      margin-right: 20px;
      height: 35% !important;
      width: 35% !important;
      border-radius: 10px;
      box-shadow: 0 3px 20px rgb(233, 233, 233);
    }
  }

  .main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80%;

    section{
      margin: 20px 14px;
      width: 70%; //65%;
      height: 90%;
      border-radius: 10px;
      box-shadow: 0 3px 20px rgb(233, 233, 233);

      div{
        width: 100%;
        width: 100%;
        height: 22%;
        display: flex;
        justify-content:space-between;
        padding: 20px 10px;

        h1{
          color: map-get($colors, primary);
          font-size: 16px;
          font-weight: 900;
        }

        button{
          background-color: map-get($colors , primary );
          width: 65px;
          height: 25px;
          border-radius: 5px;
          color: map-get($colors , secondary );
          cursor: pointer;
          transition: .3s;

          &:hover{
            background-color: darken(map-get($colors , primary ), 10%);
            box-shadow: 0 3px 20px rgb(233,233,233);
          }
        }
      }


      table{
        font-size: 12px;
        width: 95%;
        text-align: left;
        border-collapse: collapse;
        margin-left: 15px;

        thead{
          color: black;
          font-size: 14px;
            th{

              &:nth-last-child(1){
                text-align: right;
              }

              &:nth-last-child(2){
                text-align: center;
              }

              &:nth-last-child(3){
                text-align: right;
              }

              padding: 2px 10px;
            }
        }

        tbody{
          color: rgb(48, 48, 48);
          tr{
            transition: .2s;
            cursor: pointer;

            &:hover{
              background-color: map-get($colors, primary);
              color: map-get($colors , secondary );
            }

            &:nth-last-child(1){
              border-bottom: none;
            }

            border-bottom: 1px solid rgb(153, 153, 153);

            td{

              &:nth-last-child(1){
                text-align: right;
              }

              &:nth-last-child(2){
                text-align: center;
              }

              &:nth-last-child(3){
                text-align: right;
              }

              padding: 6px 10px;

              button{
                border-radius: 5px;
                color: white;
                padding: 1px 4px;
                cursor: pointer;
              }

              .delivered{
                background-color: rgb(117, 224, 45);
              }

              .pending{
                background-color: orange;
              }

              .return{
                background-color: red;
              }

              .in{
                background-color: rgb(17, 142, 226);
              }
            }
          }
        }
      }
    }

    aside{
      border-radius: 10px;
      width: 30%; //25%;
      height: 90%;
      padding-left: 10px;
      padding-top: 10px;
      box-shadow: 0 3px 20px rgb(233, 233, 233);
      margin: 20px 14px;

      h1{
        color: map-get($colors , primary );
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 10px;
      }

      ul{
        list-style: none;

        li{
          display: flex;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-left: 6px;
          margin-right: 10px;
          transition: .2s;
          cursor: pointer;
          &:hover{
            background-color: map-get($colors, primary);
            color: map-get($colors , secondary );
            p{
              color: map-get($colors, secondary );
              span{
                color: map-get($colors, secondary );
              }
            }
          }

          img{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 25px;
          }

          p{
            color: black;
            font-weight: 900;
            span{
              color: gray;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}



/* @media (min-width: 320px) and (max-width: 480px){
  div{
    .info{
      width: 100%;
      display: flex;
      flex-direction: column;
      min-height: 200px;
      article{
        margin-top: 20px;
        width: 80%;
        margin-left: -30px;
      }
    }

    .main{
      width: 100%;
      min-height: 400px;
      flex-wrap: wrap;
      margin-top: 260px;
      section{
        width: 100%;
        margin-right: 27px;
        overflow-x: scroll;
      }
      aside{
        width: 70%;
        height: 380px;
      }
    }
  }
} */

@media (min-width: 320px) and (max-width: 765px){
  div{
    .info{
      width: 100%;
      display: flex;
      flex-direction: column;
      min-height: 200px;
      article{
        margin-top: 20px;
        width: 80%;
        margin-left: -30px;
      }
    }

    .charts{
      margin-top: 230px;
      padding: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .chart{
        width: 90% !important;
        height: 90% !important;
        padding: 25px;
      }
  
      .chartPolar{
        margin-left: 20px;
        margin-bottom: 25px;
        height: 90% !important;
        width: 90% !important;
      }
    }

    .main{
      width: 100%;
      min-height: 400px;
      flex-wrap: wrap;
      margin-top: 0px;
      section{
        width: 100%;
        margin-right: 27px;
        overflow-x: scroll;
      }
      aside{
        width: 70%;
        height: 380px;
      }
    }
  }
  /* div{
    .info{
      min-height: 200px;
      flex-wrap: wrap;
      article{
        width: 45%;
        margin-right: 10px;
      }
    }
    .main{
      width: 100%;
      flex-wrap: wrap;
      section{
        width: 100%;
        margin-right: 27px;
      }
      aside{
        width: 50%;
      }
    }
  } */
}

@media (min-width: 766px) and (max-width: 991px){
  /* div{
    background-color: red;
    .info{
      article{
        width: 45%;
        margin-right: 10px;
      }
    }
    .main{
      aside{
        margin-right: 27px;
      }
    }
  } */

  div{
    .info{
      min-height: 200px;
      flex-wrap: wrap;
      article{
        width: 45%;
        margin-right: 10px;
      }
    }
    .main{
      width: 100%;
      flex-wrap: wrap;
      section{
        width: 100%;
        margin-right: 27px;
      }
      aside{
        width: 50%;
      }
    }
  }
}
