@import '../../../assets/scss/variables.scss';

nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  margin-top: -8px;

  a{
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  label{
    height: 60px;
    position: relative;

    input{
      display: inline-block;
      padding: 5px;
      width: 300px;
      outline: 0;
      border-radius: 60px;
      padding-left: 20px;
      border: 1px solid rgb(158, 158, 158);
    }

    i{
      position: absolute;
      top: 1px;
      left: 5px;
      color: rgb(41, 41, 41);
    }
  }

  img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-top: 7px;
  }
}

@media (min-width: 300px) and (max-width: 765px){
  nav{

    a{
      visibility: hidden;
    }

    label{
      input{
        width: 200px;
      }
    }
  }
}
