<nav>
  <a (click)="toggle()">
    <i class="fa-solid fa-bars fa-2x"></i>
  </a>

  <div>
    <label for="text">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search here" [(ngModel)]='valorInput'/>
    </label>
  </div>

  <div>
    <img src="/assets/images/profile-1.jpg" alt="Avatar">
  </div>
</nav>
