@import "../../../assets/scss/variables";

menu {
  background-color: map-get($colors, primary);
  height: 100%;
  overflow: hidden;
  width: 270px;
  position: fixed;

  h2 {
    color: map-get($colors, secondary);
    font-size: 16px;
    font-weight: 500;
    margin-left: 25px;
    margin-top: 8px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;

    i {
      font-size: 24px;
      margin-right: 36px;
    }
  }

  ul {
    padding-left: 6px;

    li {
      cursor: pointer;
      list-style: none;
      padding: 12px 0 12px 14px;
      margin-left: 5px;
      width: 100%;

      &:hover,
      &.active {
        background-color: map-get($colors, secondary);
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

        a {
          color: map-get($colors, primary);

          /* &::before {
            content: '';
            position: absolute;
            right: 5px;
            top: -62px;
            width: 50px;
            height: 50px;
            background-color: red;
            border-radius: 50%;
            box-shadow: 35px 35px 0 10px map-get($colors, secondary);
          } */

          /* &::after {
            content: '';
            position: absolute;
            right: 5px;
            bottom: -62px;
            width: 50px;
            height: 50px;
            background-color: red;
            border-radius: 50%;
            box-shadow: 35px -35px 0 10px map-get($colors, secondary);
          } */
        }
      }

      a {
        //display: block;
        font-size: 16px;
        color: map-get($colors, secondary);
        position: relative;
        text-decoration: none;
        width: 100%;
        height: 100%;
        transition: .3s;
        display: flex;
        align-items: center;

        i {
          font-size: 20px;
          margin-right: 20px;
          width: 30px;  /*Alinear iconos con texto*/
        }
      }
    }
  }
}

.ocultar{
  transition: 200ms ease-in;
  width: 70px;

  p{
    display:none
  }

}



@media (min-width: 300px) and (max-width: 765px){
  menu{
    width: 100%;
  }
}