<menu [ngClass]="{'ocultar': ocultar}">
  <h2>
    <i class="fa-brands fa-apple"></i><p>Brand Name</p>
  </h2>

  <ul>
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a>
        <i class="fa-solid fa-house"></i><p>Dashboard</p>
      </a>
    </li>
    <li routerLink="customers" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-user-group"></i><p>Customers</p>
      </a>
    </li>
    <li routerLink="messages" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-comment"></i><p>Messages</p>
      </a>
    </li>
    <li routerLink="help" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-question"></i><p>Help</p>
      </a>
    </li>
    <li routerLink="settings" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-gear"></i><p>Settings</p>
      </a>
    </li>
    <li routerLink="password" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-lock"></i><p>Password</p>
      </a>
    </li>
    <li>
      <a>
        <i class="fa-solid fa-arrow-right-from-bracket"></i><p>Sign out</p>
      </a>
    </li>
  </ul>
</menu>


