<div [ngClass]="{'cerrar': cerrar}">
  <app-menu></app-menu>

  <section class="container">
    <app-header></app-header>

    <main>
      <router-outlet></router-outlet>
    </main>
  </section>
</div>


