@import '../assets/scss/variables.scss';

div{
  display: flex;
  width: 100%;
  overflow-x: hidden;

  app-menu{
    width: 270px; //20vw
    height: 100vh;
    background-color: map-get($colors , primary );
  }

  .container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 270px);//80vw
    height: 100vh;

    app-header{
      width: 100%;
      background-color: map-get($colors , secondary );
      height: 10vh;
    }

    main{
      width: 100%;
      height: 90vh;
      background-color: map-get($colors , secondary );
    }
  }
}

.cerrar{
  app-menu{
    width: 70px;
  }

  .container{
    width: calc(100% - 70px);
  }
}
