/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
}

html{
  font-size: 14px;
}

body{
  height: 100vh;
  width: 100vw;
}

.root{
  display: flex;
  width: 100vw;
  height: 100vh;
}
